<p>
  Dear <%= @user.username %>, your payment has been confirmed! Thanks for your contribution to LWF Project.
</p>

<p>You'll see your account balance updated in the next 10 minutes.</p>

<p>
  Regards,<br/>
  LWF Team
</p>
