<p>
  Hi <%= @user.username %>, you've contributed for <%= @amount %> <%= @currency %>.
</p>

<p>
  When payment is confirmed you'll see your updated balance in your account profile.
</p>

<p>
  Remember that we don't ask for personal account information or external donations.
  If you think someone is trying to scam you contact us through our telegram group <a href="https://t.me/lwfofficial">https://t.me/lwfofficial</a>
</p>

<p>
  Regards,<br/>
  LWF Team
</p>
