<section id="who-talk-about-us" class="text-center col-12">
  <h3>WHO TALKS ABOUT US<br/></h3>

  <div class="row">
    <div class="col-md-4 text-center">
      <img src="/images/site/coindesk.png" class="img-fluid"/>
    </div>

    <div class="col-md-4 text-center">
      <a href="https://blog.coinschedule.com/ico-spotlight-interview-with-angelo-melis-ceo-of-lwf/" target="_blank">
        <img src="/images/site/coinschedule.png" class="img-fluid"/>
      </a>
    </div>

    <div class="col-md-4 text-center">
      <a href="https://cointelegraph.com/press-releases/ico-live-lwflocal-world-forwarder-the-worlds-first-decentralized-logistics-platform"  target="_blank">
        <img src="/images/site/cointelegraph.png" class="img-fluid"/>
      </a>
    </div>
  </div>

  <div class="row justify-content-around content">
    <div class="col-md-4 text-center">
      <a href="https://www.cryptoninjas.net/2017/10/17/ceo-angelo-melis-ready-startup-blockchain-logistics-portal-local-world-forwarders/"  target="_blank">
        <img src="/images/site/criptoninjas.png" class="img-fluid"/>
      </a>
    </div>

    <div class="col-md-4 text-center">
      <img src="/images/site/ico-countdown.png" class="img-fluid"/>
    </div>

    <div class="col-md-4 text-center">
      <a href="https://www.cryptocoinsnews.com/ico-live-lwf-local-world-forwarder-worlds-first-decentralized-logistics-platform/"  target="_blank">
        <img src="/images/site/cryptocoinsnews-logo.png" class="img-fluid"/>
      </a>
    </div>
  </div>

  <div class="row justify-content-around content">
    <div class="col-md-4 text-center">
      <a href="https://bitcoinwarrior.net/2017/10/local-world-forwarders-decentralize-shipping-by-putting-logistics-on-the-blockchain/"  target="_blank">
        <img src="/images/site/bticoin-warrior-logo.png" class="img-fluid"/>
      </a>
    </div>

    <div class="col-md-4 text-center">
      <a href="https://ethereumworldnews.com/ico-live-lwf-local-world-forwarder-worlds-first-decentralized-logistics-platform/"  target="_blank"><img src="/images/site/etherium-world-news-logo.png" class="img-fluid"/></a>
    </div>
    <div class="col-md-4 text-center">
      <a href="https://icos.tokendesk.io/ico/lwf-local-world-forwarders/" target="_blank"><img src="/images/site/token-desk.png" class="img-fluid"/></a>
    </div>

  </div>
  <div class="row justify-content-around content">
    <div class="col-md-4 text-center">
      <a href="https://www.huffingtonpost.com/entry/blockchain-is-taking-over-the-way-things-a-delivered_us_5a3b7440e4b0d86c803c6f01"  target="_blank">
        <img src="/images/site/huffinpost.png" class="img-fluid"/>
      </a>
    </div>

  </div>
</section>
